// Bootstrap
@use '/node_modules/bootstrap/scss/bootstrap.scss';

// Variables
@use './partials/variables' as *;

// Scss of App (or create scss of each component in partials folder with "@use './partials/app_main';")


header{
   background-color: $dc-light;

   .navbar{
      max-width: 1170px;

      a {
      text-decoration: none;
      color: $dc-dark;
      font-size: 0.75rem;
      font-weight: 600;
      }
   }  
}

main{
   background-color: $dc-darker;

   > div{
      max-width: 1170px;
   }
}

footer{
   .banner{
      background-color: $dc-primary;

      > .container {
         max-width: 1170px;

         span{
            font-size: 0.75rem;
         }
      }
   }

}
