@use "./variables" as *;

a{
   text-decoration: none;
}

.dc_max_width{
   max-width: 1170px;
}

.active-page-navbar{
   color: $dc-primary;

   &::after{
      content: "";
      width: 100%;
      border: 0;
      border-top: 5px solid $dc-primary;
      position: absolute;
      bottom: 0;
      left: 0;
   }
}