@use "variables" as *;

footer{

   .banner{
      background-color: $dc-primary;

         span{
            font-size: 0.75rem;
         }
   }

   .site-map{
      background-image: url("src/assets/img/footer-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;

         .footer-menu{
            height: 260px;
         }

         .site-map-page{
         color: white;
         text-transform: uppercase;
         font-weight: 600;
         }

         .site-map-sub{
            font-size: 0.65rem;
            color: rgb(169, 169, 169);            
         }

         img{
            width: 475px;
            height: 475px;
            margin-top: -130px;
            margin-bottom: -150px;
         }
      }

   }

   .lower-footer{
      background-color: $dc-dark;

      button{
         color: white;
         text-transform: uppercase;
         border: 2px solid $dc-primary;
         border-radius: 0;
         font-size: 0.75rem;
         background-color: rgba($color: #000000, $alpha: 0);
         font-weight: 600;
      }

      a {
         color: $dc-primary;
         text-transform: uppercase;
         text-decoration: none;
         font-weight: 600;
      }
      
      img {
         width: 30px;
         aspect-ratio: 1;
      }

}

